<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    
</head>
<style>
    body{
        background-color:black;
        font: 40px Lucida Handwriting;
        color: white;
    }
   #block{
        margin: 15% 70% 10% 30% ;
        width: 550px;

   }
    a{
        text-decoration:none;
        color: white;
    }

</style>
<body>
    <div id="block">
        <p class="welcome">Welcome To Tic Tac Toe</p>
        <p class="game"><a href="{%url  'game'%}">Play Tic Tac Toe<</a> </p>
        <p class="game"><a href="{%url  'view'%}">View Player Scores</a> </p>
    </div>

</body>
</html>