<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    
</head>
<style>
body{
    background-color:#B0E2FF;
    font: 40px Lucida Handwriting;
    }
    p{
    
    margin-left:500px;
    }
    
    a{
    text-decoration:none;
    }

</style>
<body>
<div class="block">
    <p class="welcome">Welcome To Tic Tac Toe</p>
    <p class="game"><a href="{%url  'game'%}">Enter Game</a> </p>
    <p class="game"><a href="{%url  'view'%}">View Game History</a> </p>
</div>

</body>
</html>